/* You can add global styles to this file, and also import other style files */
*{
  box-sizing: border-box;
}
html, body {
    margin: 50px;
    padding: 0;
  background-color: lightgreen;

}
.header {
  text-align: center;
  background-color: lightblue;
  box-shadow:0 0 1em red inset;
}
.header img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  box-shadow:0 0 1em green inset;
}
ul {
  list-style-type: none;
}
.lavender {
  background-color:lavender;
  box-shadow:0 0 1em blue inset;
}
.rad {
  border-radius: 20px;

}
